@charset "UTF-8";
@mixin transition ($time) {
    -webkit-transition:all $time;
    -moz-transition:all $time;
    transition:all $time;
}
/*上下单边*/
@mixin bd-tb-1px($bStyle,$color,$bDir){
  position: relative;
  &:after{
    content: '';
    position: absolute; 
    left: 0; #{$bDir}: 0;  
    width: 200%;
    height: 0;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;  
    -webkit-transform: scale(0.5);  
    transform: scale(0.5);
    -webkit-transform-origin: left $bDir;  
    transform-origin: left $bDir;
    border-#{$bDir}: 1px $bStyle $color;
  }
}
/*左右单边*/
@mixin bd-lr-1px($bStyle,$color,$bDir){
  position: relative;
  &:after{
    content: '';
    position: absolute; 
    top: 0; #{$bDir}: 0;  
    width: 0;
    height: 200%;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;  
    -webkit-transform: scale(0.5);  
    transform: scale(0.5);
    -webkit-transform-origin: $bDir top; 
    transform-origin: $bDir top;
    border-#{$bDir}: 1px $bStyle $color;
  }
}

/*四边*/
@mixin bd-all-1px($bStyle,$color,$radius){
  position: relative;
  &:after{
    content: '';
    position: absolute; 
    top: 0; left: 0;  
    width: 200%;
    height: 200%;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;  
    -webkit-transform: scale(0.5);  
    transform: scale(0.5);
    -webkit-transform-origin: left top; 
    transform-origin: left top;
    border: 1px $bStyle $color;
    border-radius: $radius;
  }
}

@mixin box{
	display:box;
 	display: -webkit-box;     
    display: -moz-box;     
    display: flex-box; 
    display: -ms-flexbox; 
    display: flex;      
    display: -webkit-flex;   
    display: -ms-flexbox; 
}
/* 水平排列 */
@mixin box-horizontal{
	-moz-box-orient:horizontal;
	-webkit-box-orient:horizontal; 
	box-orient:horizontal;
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row;
}
/* 垂直排列 */
@mixin box-vertical{
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical; 
	box-orient:vertical;
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
}
 
/* 平均分配 */
@mixin flex{
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
}
/* 垂直居中 */
@mixin vertical-center{ 
	box-align: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items:center;
    -webkit-align-items:center;

}
/* 垂直靠上 */
@mixin vertical-top{ 
	box-align: start;
	-webkit-box-align: start;
    -ms-flex-align:  start;
    align-items:flex-start;
    -webkit-align-items:flex-start;

}
/* 垂直靠下 */
@mixin vertical-bottom{ 
    box-align: end;
    -webkit-box-align: end;
    -ms-flex-align:  end;
    align-items:flex-end;
    -webkit-align-items:flex-end;

}
/* 水平居中 */
@mixin horizontal-center{
	box-pack: center;
	-webkit-box-pack: center;
	justify-content:center;
	-webkit-justify-content:center;
}
/* 水平靠右 */
@mixin horizontal-end{
    box-pack: end;
    -webkit-box-pack: end;
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
}
/* 两边对齐 */
@mixin both-side{
	box-pack: start;
	-webkit-box-pack: start;
	justify-content:space-between;
	-webkit-justify-content:space-between;
}
/* 浏览器前缀 */
@mixin prefix-animation($animation-name){
    animation:$animation-name;
    -webkit-animation:$animation-name;
}

@mixin prefix-keyframes($animation-name){
    @keyframes #{$animation-name}{
        @content;
    }
    @-webkit-keyframes #{$animation-name}{
        @content; 
    }
} 
@mixin prefix-content($content-name,$content-txt){
    #{$content-name}:$content-txt;
    -webkit-#{$content-name}:$content-txt;
} 